@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
}

.btn {
  border-radius: 37px;
  background: linear-gradient(180deg, #3c77f7 0%, #2b56b3 100%);
  box-shadow: 0px 21.06667px 42.13334px 0px rgba(11, 21, 44, 0.27),
    0px 6.92859px 6.92859px 0px #3e7bff inset,
    0px -6.92859px 6.92859px 0px #2952aa inset;
}

.title {
  background: linear-gradient(
    180deg,
    #dbdbdb 64.8%,
    rgba(255, 255, 255, 0) 95.07%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-btn {
  border-radius: 27px;
  background: linear-gradient(180deg, #212121 0%, #2c2c2c 100%);
  box-shadow: 0px 30.06667px 60.13334px 0px rgba(8, 8, 8, 0.24),
    0px 9.35407px 9.35407px 0px #2d2d2d inset,
    0px -9.35407px 9.35407px 0px #1f1f1f inset;
}

.data-nums {
  text-shadow: 0px 13.133333206176758px 26.266666412353516px
    rgba(49, 48, 48, 0.25);
  /* font-family: Inter; */
  /* margin-top: -1.6%; */
  margin-left: 2%;
  font-size: 3.6vw;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: linear-gradient(180deg, #fff 0%, #ccc8c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
